<%= form_for @product do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
   <%= form.fields_for :product_variants do |f| %>
    <%= render 'product_variant_fields', f: f %>

    <% end %>

    <%= link_to_add_fields "Add Variant", form, :product_variants %>


  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

$('form').on('click', 'remove-fields', function(event) {
  console.log('removed')
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
  });

$('form').on('click', '.add_fields', function(event) {
    console.log('add!')
     var regexp, time;
     time = new Date().getTime();
     
     regexp = new RegExp($(this).data('id'), 'g');
     $(this).before($(this).data('fields').replace(regexp, time));
     return event.preventDefault();
    });

</script>
